@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.h_top {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 22px 0 24px 0;
}

.h_top_pkpop_logo_wrapper {
    display: flex;
    align-items: center;
    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
    }
}

.h_top_phones {
    display: flex;
    align-items: center;
    span {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        margin: 0 5px;
    }
}
.h_bottom {
    border-top:  2px solid #07B6E5;
    border-bottom:  2px solid #07B6E5;;
    padding: 32px 0;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        li {
            margin: 0 24px;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
    }
}

// PKPOP BUTTON

.btn_kpop{
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }
  .btn_kpop a{
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
    
  }
  .btn_kpop a:before,
  .btn_kpop a:after{
    position: absolute;
    content: "Відправити";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #07B6E5;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .btn_kpop a:before{
    color: #fff;
    background: #07B6E5;
    transform: rotateY(0deg) translateZ(25px);
  }
  .btn_kpop a:after{
    color: #07B6E5;
    transform: rotateX(90deg) translateZ(25px);
  }
  .btn_kpop a:hover{
    transform: translateZ(-25px) rotateX(-90deg);
  }

// BTN END


.pkpop_heading {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px;
}

.entry-header {
 position: relative;
  h1 {
    transform-style: preserve-3d;
  }  
  h1::before{
    content: "";
    display: inline-block;
    width: 90px;
    height: 90px;
    background-color: #07B6E5;
    position: absolute;
    transform: translateZ(-1px) translateX(-10px) translateY(-20px);
  }
}

// ITEMS BLOCK
.pkpop_cat_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  .pk_container {
    width: 50%;
    .pkpop_cat_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #eeeeee;
      margin: 0 5px 10px;
      font-size: 26px;
      .pkpop_item_header {
        padding-top: 5%;
        padding-left: 5%;
      }
      a {
        padding-bottom: 5%;
        padding-left: 5%;
      }
    }
    .full {
      height: 420px;
    }
    .half {
      height: 303px;
    }
    .pkpop_cat_item:first-child {
      // background-image: url("img/test2.webp");
      background-repeat: no-repeat;
      background-position-x: right;
      background-size: contain;
    }
    .hand  {
      background-image: url("img/hand2.png");
    }
    .bio {
      background-image: url("img/bio.png");
    }
    .active {
      background-image: url("img/active.png");
      background-position: right;
      background-repeat: no-repeat;
    }
    .leg {
      background-image: url("img/leg.png");
      background-position: right;
      background-repeat: no-repeat;
    }
    .swim {
      background-image: url("img/swim.png");
      background-position: right;
      background-repeat: no-repeat;
    }
    .bed {
      background-image: url("img/test2.webp");
    }
  }

}

// 3 steps

.pkpop_steps_wrapper {
  position: relative;
  background-color: #f2f2f2;;
  .pkpop_steps_container {
    max-width: 1140px;
    height: 500px;
    display: flex;
    margin: 0 auto;
    position: relative;
  }
  .pkpop_steps_top {
    max-width: 350px;
    margin-right: 64px;
    padding-top: 80px;
    font-size: 2em;
  }
  .pkpop_steps_bot {
    padding-top: 80px;
    h3, p {
      padding-bottom: 10px;
    }
  }
}


.numbers_s1:before {
  content: "01";
  position: absolute;
  top: 40px;
  left: -47%;
  width: 410px;
  font-family: "Arial", sans-serif;
  font-size: 300px;
  line-height: 1;
  color: black;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}
.numbers_s2:before {
  content: "02";
  position: absolute;
  top: 40px;
  left: -47%;
  width: 410px;
  font-family: "Arial", sans-serif;
  font-size: 300px;
  line-height: 1;
  color: black;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}
.numbers_s3:before {
  content: "03";
  position: absolute;
  top: 40px;
  left: -47%;
  width: 410px;
  font-family: "Arial", sans-serif;
  font-size: 300px;
  line-height: 1;
  color: black;
  font-weight: 700;
  text-align: right;
  white-space: nowrap;
}

footer{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    .f_top {
        display: flex;
        justify-content: center;
        margin: 21px 0;
        max-width: 1200px;
        div:first-child {
            display: flex;
            flex-direction: row;
            margin: 0;
            img {
                width: 82px;
                height: 82px;
                margin-right: 20px;
            }
        }
        div {
            display: flex;
            flex-direction: column;
        }
        .f_wrapper {
          margin:   0 0 0 50px;
        }
    }
    .f_bottom{
        background-color:#07B6E5;
        padding: 15px 0;
        width: 100%;
        justify-content: center;
        display: flex;
    }
}